.container {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #F4F7FE;
}

.header {
    width: 100%;

}

.list {
    padding: 0;
    margin: 0;
    margin-top: 15vh;
}

button {
    width: 24px;
    height: 24px;
}
.list li {
    margin-bottom: 34px;
}

.layoutsInput {
    border-radius: 49px;
}